<div class="container-fluid">
    <div class="row">
        <carousel>
            <slide class="animated fadeIn slow">
              <img src="assets/images/nosotrosagro.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>

          </carousel>
    </div>
  </div>
<br><br><br>
<div class="container">
  <div class="row">
    <h2 class="text-center animated bounceInDown slow">Quienes Somos?</h2>
    <br>
    <h3 class="text-center animated bounceInDown slow">Casa del Buen Criador </h3>
<br>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <p class="drop-caps text-justify animated slideInUp slow">
        Casa del Buen Cuidador es un producto enteramente Peruano fundada en 1990, dicha empresa conquista diariamente la credibilidad y satisfacción de los clientes de Perú y el mundo.
        Casa del Buen Cuidador está siempre en la vanguardia, desarrollado con nuevos conceptos para satisfacer las necesidades de cada animal.  
        Los alimentos son elaborados con materias primas de alta calidad e ingredientes seleccionados, proporcionando mejor digestibilidad y sabor para la satisfacción y alimentación de animales de granja de todo el mundo. 
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <p class="text-justify animated slideInUp slow">
          En el Perú, estamos bien posicionados el producto en el mercado peruano. Su alto márgen de calidad de Casa del Buen Criador hace que cuente con un 100% 
          de satisfacción garantizada, una calidad en alimentación. Placer, salud y bienestar, responsabilidad y vitalidad son las cuatro tendencias que caracteriza al producto.
          Casa del Buen Cuidador nutre a los perros con una alimentación completa de nutrientes balanceados a partir de inversiones en investigación y tecnología, resultando en un mejor desarrollo y desempeño del animal. 
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Balanceada</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">Alimento compuesto de alto valor nutricional, elaborado en la 
                  cantidad exacta de vitaminas, probióticos, proteínas y minerales para el consumo diario.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Desarrollo y desempeño</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Alimento que contribuye a un crecimiento ideal y seguro del 
                  animal, además de proporcionar un mejor rendimiento, disposición y energía.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Excelendia en nutrición</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">La principal propuesta de la línea es ofrecer la mejor nutrición para 
                  los animales de granja, que resultará en más salud y longevidad para ellos.</div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="vision">
  <div class="container">
    <div class="col-md-offset-2 col-md-8 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h3 class="animated fadeIn slow">Misión</h3>
          <p class="drop-caps1 text-justify animated zoomIn slow">
              Satisfacer las necesidades de nuestros consumidores y mejorar el nivel de vida de nuestros clientes 
              ofreciéndoles productos de calidad, mediante la producción, transformación y exportación de 
              productos agrícolas, acuícolas y agroindustriales. A la vez contribuir con el desarrollo 
              de nuestros colaboradores, proveedores, distribuidores y país.
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h3 class="animated fadeIn slow">Visión</h3>
          <p class="drop-caps1 text-justify animated zoomIn slow">
              Ser una empresa productora y comercializadora de productos agrícolas, agroindustriales y acuícola, 
              líder en el mercado nacional e internacional, que se caracterice por el cumplimiento de estándares de 
              calidad, innovación constante de nuestros procesos y protección del medio ambiente, manteniendo la
               alta vocación de servicio, honestidad, trabajo en equipo y responsabilidad para satisfacer las 
               necesidades de nuestros clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
