p.drop-caps:first-child:first-letter{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    font-family: Georgia, serif;
    line-height: 60px;
}


.panel-default>.panel-heading {
    background-color: #3498db;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffee;
}

.drop-caps1:first-child:first-letter{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    font-family: Georgia, serif;
    line-height: 60px;
}