<div class="container-fluid">
    <div class="row">
        <carousel>
            <slide class="animated fadeIn slow">
              <img src="assets/images/medicamentos.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
    </div>
  </div>

<div class="medicamentos">
  <div class="container">
      <div class="row">
        <h2 class="text-center titulo animated bounce slow">Nuestro Medicamentos</h2>
          <div class="col-md-3 col-xs-3">
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <ul class="refs">
                  <li class="active animated shake slow">
                    <a data-toggle="pill"  href="#fecha1">
                      Vitamínas
                    </a>
                  </li>
                  <li class="animated shake slow">
                    <a data-toggle="pill" href="#fecha2">
                      Vacunas
                    </a>
                  </li>
                  <li class="animated shake slow">
                    <a data-toggle="pill" href="#fecha3">
                      Antibióticos
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-xs-9">
            <div class="tab-content" id="contenido-evento">
              <div id="fecha1" class="tab-pane fade in active">
                <div class="header-evento">
                  <h3 class="fechas text-center"> Vitaminas</h3>
                  <div class="row fondo">
                    <div class="col-md-4 col-sm-4">
                      <img src="assets/images/productos/producto1.png" alt="">
                    </div>
                    <div class="col-md-7 col-sm-7 text-medicamentos ">
                        <p class="text-center">
                            <b class="text-uppercase">cefquinox</b>                  
                            <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                        </p>
                    </div>
                  </div>
                  <div class="row fondo">
                      <div class="col-md-4 col-sm-4">
                        <img src="assets/images/productos/producto2.png" alt="">
                      </div>
                      <div class="col-md-7 col-sm-7 text-medicamentos ">
                        <p class="text-center">
                            <b class="text-uppercase">cefquinox</b>                  
                            <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                        </p>
                      
                      </div>
                    </div>
                    <div class="row fondo">
                        <div class="col-md-4 col-sm-4">
                          <img src="assets/images/productos/producto3.png" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 text-medicamentos ">
                            <p class="text-center">
                                <b class="text-uppercase">cefquinox</b>                  
                                <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                            </p>
                        </div>
                      </div>
                </div>
              </div>
              <div id="fecha2" class="tab-pane fade">
                  <div class="header-evento">
                      <h3 class="fechas text-center"> Vacunas</h3>
                      <div class="row fondo">
                        <div class="col-md-4 col-sm-4">
                          <img src="assets/images/productos/producto4.png" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 text-medicamentos ">
                            <p class="text-center">
                                <b class="text-uppercase">cefquinox</b>                  
                                <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                            </p>
                        </div>
                      </div>
                      <div class="row fondo">
                          <div class="col-md-4 col-sm-4">
                            <img src="assets/images/productos/producto3.png" alt="">
                          </div>
                          <div class="col-md-7 col-sm-7 text-medicamentos ">
                            <p class="text-center">
                                <b class="text-uppercase">cefquinox</b>                  
                                <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                            </p>
                          
                          </div>
                        </div>
                        <div class="row fondo">
                            <div class="col-md-4 col-sm-4">
                              <img src="assets/images/productos/producto2.png" alt="">
                            </div>
                            <div class="col-md-7 col-sm-7 text-medicamentos ">
                                <p class="text-center">
                                    <b class="text-uppercase">cefquinox</b>                  
                                    <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                                </p>
                            </div>
                          </div>
                    </div>
              </div>
              <div id="fecha3" class="tab-pane fade">
                  <div class="header-evento">
                      <h3 class="fechas text-center"> Antibióticos</h3>
                      <div class="row fondo">
                        <div class="col-md-4 col-sm-4">
                          <img src="assets/images/productos/producto3.png" alt="">
                        </div>
                        <div class="col-md-7 col-sm-7 text-medicamentos ">
                            <p class="text-center">
                                <b class="text-uppercase">cefquinox</b>                  
                                <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                            </p>
                        </div>
                      </div>
                      <div class="row fondo">
                          <div class="col-md-4 col-sm-4">
                            <img src="assets/images/productos/producto5.png" alt="">
                          </div>
                          <div class="col-md-7 col-sm-7 text-medicamentos ">
                            <p class="text-center">
                                <b class="text-uppercase">cefquinox</b>                  
                                <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                            </p>
                          
                          </div>
                        </div>
                        <div class="row fondo">
                            <div class="col-md-4 col-sm-4">
                              <img src="assets/images/productos/producto1.png" alt="">
                            </div>
                            <div class="col-md-7 col-sm-7 text-medicamentos ">
                                <p class="text-center">
                                    <b class="text-uppercase">cefquinox</b>                  
                                    <br> Cefalosporina de 4ta generación. Actúa contra las bacterias más resistentes del medio.
                                </p>
                            </div>
                          </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>